@import "./reset";
:root {
  --fon-family: Plus Jakarta Sans;
  --font-size-destktop: 16px;
  --font-size-mobile: 14px;
  --color: #5e6778;
  --color2: #0a327b;
}
.container {
  width: 100%;
  max-width: 702px;
  padding: 16px;
  margin: 0 auto;
}
.header {
  .container {
    width: 100%;
    max-width: 702px;
    padding: 33px 16px 31px 16px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;

    p {
      //styleName: Body;
      font-family: var(--fon-family);
      font-size: var(--font-size-destktop);
      font-weight: 500;
      line-height: 20.16px;
      text-align: right;
      color: var(--color);
      cursor: pointer;
      &:hover {
        color: var(--color2);
      }
    }
  }
}

.section {
  .container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .rows {
      display: flex;
      gap: 19px;
      padding: 18px 20px;
      border-width: 0px, 0px, 0px, 0px;
      border-style: solid;
      border-color: #0000000c;
      background: #f7fafd;
      border-radius: 5px;

      .information {
        display: flex;
        flex-direction: column;
        gap: 3px;
        .information-top {
          display: flex;
          align-items: center;

          .name {
            font-family: var(--fon-family);
            font-size: var(--font-size-destktop);
            font-weight: 800;
            line-height: 20.16px;
            text-align: left;
            cursor: pointer;
            color:#1C202B;
            
            &:hover {
              color: var(--color2);
            }
          }
          .about {
            font-family: var(--fon-family);
            font-size: var(--font-size-destktop);
            font-weight: 500;
            line-height: 20.16px;
            color: var(--color);
          }
          .info {
            font-family: var(--fon-family);
            font-size: var(--font-size-destktop);
            font-weight: 800;
            line-height: 20.16px;
            color: var(--color);
            cursor: pointer;
            &:hover {
              color: var(--color2);
            }
          }
        }
        p {
          font-family: var(--fon-family);
          font-size: var(--font-size-destktop);
          font-weight: 5s00;
          line-height: 20.16px;
          color: var(--color);
        }
        .info {
          font-family: var(--fon-family);
          font-size: var(--font-size-destkstop);
          font-weight: 800;
          line-height: 20.16px;
          color: var(--color);
          &:hover {
            color: var(--color2);
          }
        }
      }
      .day {
        margin-bottom: 16px;
      }
      .text {
        padding: 17px 20px;
        border: 1px solid #dde7ee;
        cursor: pointer;
        &:hover {
          background: #e5effa;
          border: 1px solid #dde7ee;
        }
      }
    }
  }
  .row {
    .information {
      .information-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 182px;
        .info {
          display: flex;
          max-width: 359px;
          align-items: center;
          flex-wrap: wrap;
        }

        .smith {
          display: flex;
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width:540px) {
  .container {
    width: 100%;
    max-width: 343px;
    padding: 0px;
    margin: 0 auto;
  }
  .header {
    .container {
      width: 100%;
      max-width: 343px;
      padding: 33px 16px 31px 16px;
      margin: 0 auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
  
      p {
        //styleName: Body;
        font-family: var(--fon-family);
        font-size: var(--font-size-mobile);
        font-weight: 500;
        line-height: 20.16px;
        text-align: right;
        color: var(--color);
        cursor: pointer;
        &:hover {
          color: var(--color2);
        }
      }
    }
  }
  
  .section {
    .container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .rows {
        display: flex;
        gap: 19px;
        padding: 18px 20px;
        border-width: 0px, 0px, 0px, 0px;
        border-style: solid;
        border-color: #0000000c;
        background: #f7fafd;
        border-radius: 5px;
  
        .information {
          display: flex;
          flex-direction: column;
          gap: 3px;
          .information-top {
            display: flex;
            align-items: center;
            gap: 4px;
            .name {
              font-family: var(--fon-family);
              font-size: var(--font-size-mobile);
              font-weight: 800;
              line-height: 20.16px;
              text-align: left;
              cursor: pointer;
         
              color:#1C202B;
              &:hover {
                color: var(--color2);
              }
              .about {
                font-family: var(--fon-family);
                font-size: var(--font-size-mobile);
                font-weight: 500;
                line-height: 20.16px;
                color: var(--color);
              }
              .info {
                font-family: var(--fon-family);
                font-size: var(--font-size-mobile);
                font-weight: 800;
                line-height: 20.16px;
                color: var(--color);
                cursor: pointer;
                &:hover {
                  color: var(--color2);
                }
              }
            }
          }
          p {
            font-family: var(--fon-family);
            font-size: var(--font-size-mobile);
            font-weight: 500;
            line-height: 20.16px;
            color: var(--color);
          }
          .info {
            font-family: var(--fon-family);
            font-size: var(--font-size-mobile);
            font-weight: 800;
            line-height: 20.16px;
            color: var(--color);
            &:hover {
              color: var(--color2);
            }
          }
        }
        .day {
          margin-bottom: 16px;
        }
        .text {
          padding: 17px 20px;
          border: 1px solid #dde7ee;
          cursor: pointer;
          &:hover {
            background: #e5effa;
            border: 1px solid #dde7ee;
          }
        }
      }
    }
    .row {
      .information {
        .information-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .info {
            display: flex;
            max-width: 359px;
            align-items: center;
            flex-wrap: wrap;
          }
  
          .smith {
            display: flex;
            
            cursor: pointer;
          }
        }
      }
    }
  }
  
}